                CPU   Price
0  100-100000065BOX  321.50
1  100-100000063WOF  349.97
2     BX8071512700K  374.98
3  100-100000061WOF  552.99
4  100-100000252BOX  265.00